<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height initial-scale=1">
    <title>Title</title>
    <style>
    body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    }

    #video {

    flex:1

    }
    </style>
</head>
<body>
<video id="video" controls>
    <source src="/get/{{vfile}}" type="video/mp4">
    Your browser does not support HTML5 video.
    <a href="/get/{{vfile}}">Try to download it here</a>
</video>

</body>
</html>